# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
#chipo= pd.read_csv(adress,  sep='\t')
chipo= pd.read_table(address)

In [4]:
#Mis variables basicas de eda. para practicar
chipo.info()

64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
chipo.head(3)

  1         1                          Izze       [Clementine]
2         1         1              Nantucket Nectar            [Apple]

  item_price
0     $2.39
1     $3.39
2     $3.39

# Name of the max valued product

In [6]:
#Para calcular el valor máximo del producto se tiene que contar el precio, 
#pero ahora es un objeto no un entero. para eso quitar signo $
#Qué es uns tring
print(chipo.item_price.str[0:1])

0       $
1       $
2       $
3       $
4       $
       ..
4617    $
4618    $
4619    $
4620    $
4621    $
Name: item_price, Length: 4622, dtype: object

In [31]:
# con esto a partir del str1, será un float
chipo.item_price = chipo.item_price.str[1:].astype(float)

In [32]:
chipo.info(['item_price'])
#con esto podemos ver el tipo de los datos de la columna item
print("tipo de dato, columna item_price", type('item_price'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB
tipo de dato, columna item_price <class 'str'>

In [ ]:
# Opcion B
# chipo['item_price'].str[1:].astype(float)
# De la columna item price quedate con el segundo elemento de string y conviertelo en float

In [14]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39

In [15]:
# .idxmax() devuelve el índice del valor máximo en cada columna
índice_vm = chipo.item_price.idxmax()
print("índice en el que se encuentra el valor máximo", índice_vm)
precio_max= max(chipo.item_price)
print("cantidad del valor máximo", precio_max)

índice en el que se encuentra el valor máximo 3598
cantidad del valor máximo 44.25

In [16]:
#Ver nombre por slicing
chipo.item_name[3598]

'Chips and Fresh Tomato Salsa'

In [17]:
#Variable que muestra todos los valores de precio
ch = chipo[chipo.item_price == max(chipo.item_price)]
ch

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [37]:
# OPCION B, 
x = chipo.item_price[chipo.item_price == max(chipo.item_price)]
x

3598    44.25
Name: item_price, dtype: float64

In [9]:
 #Mirar opcion esta opcion 
 chipo[chipo.item_price == chipo['item_price'].max()

SyntaxError: unexpected EOF while parsing (<ipython-input-9-be446f3f6903>, line 1)

In [ ]:
'''
Con intención de saber el precio real de cada producto, vamos a crear una 
columna que guarde el precio por unidad.
'''

In [38]:
chipo[chipo.item_name == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price,unity_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49,8.49
...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75

In [40]:
#se crea una columna para ver precio por unidad. y se muestran los últimos. 
# Con intención de saber el precio real de cada producto, vamos a crear una columna que guarde el precio por unidad.
chipo["unity_price"] = chipo.item_price / chipo.quantity
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price,unity_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [41]:
# Se crea una variable con los nombre de los productos que cuestan menos de 10
# de esa lsita se muestran lso valores únicos 
products = chipo.item_name[(chipo.item_price > 10.0) ]
print("total de productos mas de 10 en data", products.shape)
print("total de productos únicos", products.nunique())

total de productos mas de 10 en data (1130,)
total de productos únicos 31

In [ ]:
# OPCION POR DESCRIPCION

In [13]:
chipo_description = chipo.groupby("choice_description").max()
chipo_description.nunique()

order_id      823
quantity        4
item_name      35
item_price     37
dtype: int64

In [46]:
chipo_description[chipo_description.unity_price == max(chipo_description.unity_price)]

,order_id,quantity,item_name,item_price,unity_price
choice_description,,,,,
"[Fresh Tomato Salsa, Guacamole]",1483,1,Steak Soft Tacos,11.89,11.89
"[Fresh Tomato Salsa, [Black Beans, Cheese, Guacamole, Lettuce]]",1296,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettuce]]",1790,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Cheese, Sour Cream, Guacamole]]",1768,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Guacamole]]",1189,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]",1748,1,Veggie Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole]]",1443,3,Veggie Burrito,33.75,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",1780,1,Veggie Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",1718,2,Steak Salad Bowl,23.50,11.89
"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Guacamole, Lettuce]]",250,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole]]",1386,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Pinto Beans, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",501,1,Barbacoa Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",478,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1786,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1526,3,Veggie Burrito,35.25,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Guacamole]]",1720,1,Veggie Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]",1403,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1499,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",1106,1,Steak Salad Bowl,11.89,11.89
"[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Guacamole]]",1692,2,Chicken Salad Bowl,22.50,11.89
"[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",970,1,Veggie Burrito,11.89,11.89
"[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Guacamole]]",123,2,Veggie Burrito,23.78,11.89
"[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Sour Cream, Guacamole]]",1283,1,Carnitas Burrito,11.89,11.89
"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Cheese, Guacamole, Lettuce]]",1223,2,Veggie Bowl,23.78,11.89
"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1736,1,Veggie Bowl,11.89,11.89

In [45]:
chipo_description.groupby("item_name").max()

                       order_id  quantity  item_price  unity_price
item_name
Barbacoa Bowl              1825         1       11.75        11.75
Barbacoa Burrito           1825         1       11.75        11.75
Barbacoa Crispy Tacos      1330         2       18.50        11.75
Barbacoa Salad Bowl         501         1       11.89        11.89
Barbacoa Soft Tacos        1703         1       11.75        11.75
Bowl                        279         3       22.20         7.40
Burrito                     313         1        7.40         7.40
Canned Soda                1578         2        2.18         1.09
Canned Soft Drink          1829         4       12.98         6.49
Carnitas Bowl              1825         1       11.75        11.75
Carnitas Burrito           1821         1       11.89        11.89
Carnitas Crispy Tacos      1774         1        9.25         9.25
Carnitas Salad             1500         1        8.99         8.99
Carnitas Soft Tacos        1659         1       11.75        11.75
Chicken Bowl               1826         3       32.94        11.75
Chicken Burrito            1825         2       21.96        11.75
Chicken Crispy Tacos       1775         2       17.50        11.25
Chicken Salad              1598         1        8.49         8.49
Chicken Salad Bowl         1834         2       22.50        11.89
Chicken Soft Tacos         1827         2       21.96        11.75
Crispy Tacos                217         1        7.40         7.40
Izze                       1468         1        3.39         3.39
Nantucket Nectar           1632         2        6.78         3.39
Salad                       575         1        7.40         7.40
Steak Bowl                 1796         3       26.25        11.75
Steak Burrito              1833         2       23.50        11.75
Steak Crispy Tacos         1810         2       17.98        11.75
Steak Salad                1559         2       16.98         8.99
Steak Salad Bowl           1809         2       23.50        11.89
Steak Soft Tacos           1808         3       26.25        11.89
Veggie Bowl                1831         3       26.25        11.89
Veggie Burrito             1830         4       35.25        11.89
Veggie Salad               1635         1        8.99         8.99
Veggie Salad Bowl          1834         4       35.00        11.89
Veggie Soft Tacos          1829         2       16.98        11.75

In [49]:
chipo_description = chipo.groupby(["choice_description", "item_name"]).max()
chipo_description.head(4)

,,order_id,quantity,item_price,unity_price
choice_description,item_name,,,,
"[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",Burrito,214,1,7.4,7.4
"[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]",Burrito,279,1,7.4,7.4
[Adobo-Marinated and Grilled Chicken],Crispy Tacos,217,1,7.4,7.4
"[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",Bowl,279,1,7.4,7.4

In [52]:
chipo_grouped = chipo.groupby("item_name").max()
max(chipo_grouped.unity_price)

11.89

In [53]:
k = chipo.groupby("item_name").max()
k[k.unity_price == max(k.unity_price)]

,order_id,quantity,choice_description,item_price,unity_price
item_name,,,,,
Barbacoa Salad Bowl,1751,1,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89,11.89
Carnitas Salad Bowl,1692,1,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",11.89,11.89
Steak Salad Bowl,1818,2,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",23.78,11.89

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
products=

In [7]:
#Con una variable para que sea más manejable
each_item=chipo[['item_name','item_price' ]]
each_item

   $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [13]:
index= chipo.sort_values(by='item_name')
print(index)

(Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]

In [70]:
# sort values per price

chipo.sort_values(by="item_price", ascending=False, inplace=True)
chipo

         8.75
3602         8.75
3601        11.25
...           ...
3477         1.09
4051         1.09
317          1.09
280          1.09
1457         1.09

[4622 rows x 6 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [60]:
# Con esto sale la cantidad 
print("Cantidad de la orden más cara", chipo.quantity.max())

#Pero con esto sale toda la informacion. DE chipo muestrame la cant.max
chipo[chipo.quantity == chipo.quantity.max()]

Cantidad de la orden más cara 15

,order_id,quantity,item_name,choice_description,item_price,unity_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [14]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['item_name', 'quantity', 'item_price']

KeyError: ('item_name', 'quantity', 'item_price')

### Step 8. How many times was a Veggie Salad Bowl ordered?

V2

In [54]:
#La mejor. en el item name dame lso valroes contados de la frase veggie salad
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

In [55]:
#Primero mascara definida. 
#Cuenta cuantas veces es igual la frase veggie salad.
#
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

In [ ]:
#Solucion de Dani de ejercicio 6
chipo['unitary_price'] = chipo['item_price'] / chipo['quantity']
chipo2 = chipo[chipo['unitary_price'] == chipo['unitary_price'].max()]
chipo2[['item_name', 'unitary_price']].drop_duplicates()

### Step 9. How many times did someone order more than one Canned Soda?

In [15]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
#chipo_drink_steak_bowl
len(chipo_drink_steak_bowl)

20